/* Your SCSS here. */

body {
    margin: 0;
}

#navbar {
    position: sticky;
    top:0px;
    height: 75px;
    width: 100%;
    background-color: grey;
    z-index: 100;
}

#navbar div {
    display: inline;
    position: relative;
    border: 2px solid #003748;
    border-color: black;
    padding: 3px;
    top: 20%;
    margin-left: 25px;
    font-size: x-large;
    color: white;
    text-align: center;
}

#overview {
    width: 100%;
    position: relative;
    background-color:bisque;
    text-align: center;
}

#overview h1 {
    text-align: center;
    display: inline;
}

#overview #parts {
    display: grid;
    grid-template-columns: 30% 36% 25%;
    grid-gap: 2rem;
    text-align: center;
}

#icons {
    display: absolute;
    width: 75%;
    height: 75%
}